{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>

<body>
    <div class="container flex flex-col justify-center h-screen items-center">
        <h1>Home page</h1>

        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white p-2">Déconnexion</button>
        </form>

        <span><a href="{% url 'news-year-archive' yearvar %}">Changer mot de passe</a></span>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Login</a>
        {% endif %}
    </div>
</body>

</html>