{% load i18n %}{% autoescape off %}
{% blocktranslate %}Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe pour votre compte sur {{ site_name }}.{% endblocktranslate %}

{% translate "Veuillez cliquer sur le lien suivant pour choisir un nouveau mot de passe :" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Votre nom d'utilisateur, au cas où vous l'auriez oublie :" %} {{ user.get_username }}

{% translate "Merci d'utiliser notre site !" %}

{% blocktranslate %}L'equipe de {{ site_name }}{% endblocktranslate %}

{% endautoescape %}